	@font-face {
		font-family: ubuntuHeading;
		src: url(Ubuntu-B.ttf);
	}
	@font-face {
		font-family: ubuntuBody;
		src: url(UbuntuMono-RI.ttf);
	}
	/* Web page Div (Removes horizontal scroll bar*/
	.web {
	overflow-x: hidden;
	overflow-y: hidden;
	background-color:lightskyblue;
	padding: 5px 5px;
	width: 99%;
	}
	/* Header Style */
	.header {
	background-color: #4169E1;
	color: gold;
	font-size: 140%;
	text-align: center;
	border: solid #ADD8E6 3px;
	border-radius: 15px;
	padding: 5px 5px;
	position: static;
	width: 95%;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
	font-family: UbuntuHeading;
	}
	.jakeslink {
	color:gold;
	text-decoration:none;
	}
	/* Description Style */
	.description {
	background-color: #4169E1; 
	color: gold;
	font-size: 115%; 
	text-align: center;
	border: solid #ADD8E6 3px;
	border-radius: 15px;
	padding: 5px 5px;
	position: static;
	width: 95%;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
	font-family: UbuntuBody;
	}
  	body {
	background: lightskyblue;
	font-family: ubuntuHeading;
	}
	.body {
    background: #4169E1;
    width: 95%;
    height: 265px;
    padding: 5px;
	border-radius: 15px;
	border: solid #ADD8E6 3px;
	font-family: ubuntuBody;
    }
	.instructions {
	background-color: #4169E1; 
	color: gold;
	font-size: 115%; 
	text-align: center;
	padding: 1px 1px;
	position: static;
	font-family: UbuntuBody;
	}
    .city {
    background: linear-gradient(to bottom right, #ADD8E6, #4169E1);
    width: 45%;
    padding: 5px;
    height: 35px;
    float: left;
    border-radius: 5px;
    }
    .age {
    background: linear-gradient(to bottom right, #ADD8E6, #4169E1);
    width: 45%;
    padding: 5px;
    height: 35px;
    float: right;
    border-radius: 5px;
    }
    .activity {
    background: linear-gradient(to bottom right, #ADD8E6, #4169E1);
    width: 98%;
    padding: 5px;
    height: 65px;
    border-radius: 5px;
	font-family: ubuntuBody;
    }
	.dollar {
    background: linear-gradient(to bottom right, #ADD8E6, #4169E1);
    width: 45%;
    padding: 5px;
    height: 35px;
    float: left;
    border-radius: 5px;
	font-family: ubuntuBody;
	color: gold;
    }
	.dollarEntry {
	background: #ADD8E6;
	color: black;
	width: 100%;
	align:center;
	font-family: ubuntuBody;
	}
	.send {
    width: 45%;
   	padding: 5px;
    height: 42px;
    float: right;
    border-radius: 5px;
	font-family: ubuntu;
    }
    .dropdown {
	background: #ADD8E6;
	color: black;
    width: 100%;
    text-align: center;
	font-family: ubuntuBody;
    }
    .button1 {
    background-color: #4169E1;
    color: gold;
    font-size: 115%;
    text-align: center;
    border: solid #ADD8E6 3px;
    border-radius: 25px;
    padding: 5px;
    position: static;
    width: 99%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
	font-family: ubuntuBody;
    }
/* Specific Events that are shown after all inputs and buttons */
.hide {
	display:none;
}
.specificEventFeatured {
	border-radius: 0px 25px 25px 0;
	border-left: 5px dotted #ffa500;
    background:Gold;
	background-position: right top;
	background-repeat: no-repeat;
 	padding: 5px 5px 5px 5px;
    width: 93%;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	font-size:115%;
	position: relative;
	left: 5%;
}
.specificEventFeaturedMASA {
	border-radius: 0px 25px 25px 0;
	border-left: 5px dotted #ffa500;
    background:Gold;
	background-position: right top;
	background-repeat: no-repeat;
 	padding: 5px 5px 5px 5px;
    width: 93%;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	font-size:115%;
	position: relative;
	left: 5%;
}

/* Specific Events that are shown after all inputs and buttons */
.specificEvent {
	border-radius: 0px 25px 25px 0;
	border-left: 5px dotted #4169E1;
    background: linear-gradient(to bottom right, #4169E1, #ADD8E6);
 	padding: 5px;
    width: 93%;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	font-size:115%;
	position: relative;
	left: 5%;
}
/* Specific Events that are shown after all inputs and buttons */
.specificEventWausau {
	border-radius: 0px 25px 25px 0;
	border-left: 5px dotted #ff00ff;
    background: linear-gradient(to bottom right, #4169E1, #ADD8E6);
 	padding: 5px;
    width: 93%;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	font-size:115%;
	position: relative;
	left: 5%;
}
/* Specific Events that are shown after all inputs and buttons */
.specificEventRibMount {
	border-radius: 0px 25px 25px 0;
	border-left: 5px dotted #ffff00;
    background: linear-gradient(to bottom right, #4169E1, #ADD8E6);
 	padding: 5px;
    width: 93%;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	font-size:115%;
	position: relative;
	left: 5%;
}
/* Specific Events that are shown after all inputs and buttons */
.specificEventRothschild {
	border-radius: 0px 25px 25px 0;
	border-left: 5px dotted #ffa500;
    background: linear-gradient(to bottom right, #4169E1, #ADD8E6);
 	padding: 5px;
    width: 93%;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	font-size:115%;
	position: relative;
	left: 5%;
}
/* Specific Events that are shown after all inputs and buttons */
.specificEventWeston{
	border-radius: 0px 25px 25px 0;
	border-left: 5px dotted #4169E1;
    background: linear-gradient(to bottom right, #4169E1, #ADD8E6);
 	padding: 5px;
    width: 93%;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	font-size:115%;
	position: relative;
	left: 5%;
}
/* Specific Events that are shown after all inputs and buttons */
.specificEventSchofield {
	border-radius: 0px 25px 25px 0;
	border-left: 5px dotted #e6e6fa;
    background: linear-gradient(to bottom right, #4169E1, #ADD8E6);
 	padding: 5px;
    width: 93%;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	font-size:115%;
	position: relative;
	left: 5%;
}
    .activity {
    background: linear-gradient(to bottom right, #ADD8E6, #4169E1);
    width: 98%;
    padding: 5px;
    height: 65px;
    border-radius: 5px;
	font-family: ubuntuBody;
    }